body {
    background-color: beige;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    background-color: bisque;
    font-size: 20pt;
    font-weight: bold;
    color:rgb(45, 68, 5);
}

table {
    margin: 10px;
    border-collapse: collapse;
    cursor: pointer;
}

th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
}

th {
    background-color: darksalmon;
}

tbody tr:nth-child(odd) td {
    background-color: darkseagreen;
}

tbody tr:hover {
    background-color: darkslategrey;
    color: white;
}

img {
    width: 50px;
}

.buttons {
    margin: 10px;
}