html,
body {
  margin: 0;
  padding: 0;
  background-color: cadetblue;
  height: 100vh;
}

body {
  display: grid;
  grid-template-areas:
    'ad header header'
    'ad section content1'
    'ad footer footer';
    grid-template-rows: auto auto auto;
    grid-template-columns: 200px auto 200px;
}

aside {
  grid-area: ad;
  background-color: aliceblue;
}

.header {
  padding: 10px;
  grid-area: header;
}

.section {
  background-color: bisque;
  grid-area: section;

}

.content {
  background: skyblue;
  padding: 10px 0 0 10px;
  overflow: auto;
  grid-area: content1;

}

.footer {
  padding: 10px;
  grid-area: footer;
}

.content .box {
  background-color: red;
  margin: 10px;
  text-align: center;
  height: 100px;
  width: 100px;
}